$bg-orange: #B44922;
$bg-orange-transparent: rgba( $bg-orange, .22 );
$icon-color: rgba( $bg-orange, .7 );

$bg-proj-green: #899080;
$bg-proj-orange: #C07A45;


$text-color: #181a27;
$white: #F8F8F8;
