%font-text {
  font-family: "Lusitana", serif;
  font-weight: 400;
}

%font-heading-main {
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

%font-heading-minor {
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  font-weight: 600;
}
