#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 82em;
  margin: 0 auto;

  h2 {
    margin-top: $margin-before - 1.2em;
    padding-top: 1.2em;
    margin-bottom: $margin-after;
    text-align: center;

    @media only screen and (min-width: $medium-break) {
      margin-bottom: $margin-after * 1.5;
    }
  }

  .about-container {
    display: flex;
    flex-direction: column;
    text-align: center;

    @media only screen and (min-width: $medium-break) {
      flex-direction: row;
    }

    .headshot-container {
      max-width: 20em;
      margin: 0 auto;
      padding: 0.5em;

      @media only screen and (min-width: $medium-break) {
        max-width: 26em;
      }

      img {
        border-radius: 50%;
        width: 100%;
      }
    }


    .about-content {
      max-width: 36em;
      margin: 0 auto;
      padding: 1em;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        text-align: justify;
        margin-bottom: 0;
      }
    }
  }
}
