.hero-container {
  width: 100%;
}

.logo-container {
  width: 100%;
  background-image: url("../img/header-img.jpg");
  background-size: cover;
  background-color: $bg-orange-transparent;
  height: 40vh;
  max-height: 40em;
  display: flex;
  align-items: center;

  @media only screen and (min-width: $tiny-break) {
    min-height: 24em;
  }
}

.logo {
  max-width: 25rem;
  width: 92%;
  margin: 0 auto;
  text-align: center;

  @media only screen and (min-width: $small-break) {
    max-width: 36rem;
  }

  .svg-logo {
    width: 100%;
  }
}


.header-nav {
  background-color: $text-color;
  text-align: center;
  text-transform: uppercase;
  min-height: 3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  // position: -webkit-sticky;
  // top: 10px;

  .nav-links {
    padding: 1em;
  }
}
