#projects {
  text-align: center;
  background-image: url("../img/bg-proj.svg");
  background-size: cover;
  background-color: $bg-orange-transparent;
  padding-bottom: 3.5em;
  // padding-top: 1em;
  margin-top: $margin-before * 2.5;

  h2 {
    padding-top: 1.2em;
    margin-bottom: 1em;

    @media only screen and (min-width: $medium-break) {
      margin-bottom: $margin-after * 1.2;
    }
  }

  .project-container {
    padding: 2em 1em 2em;
  }

  details {
    width: 90%;
    max-width: 40em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  summary,
  summary h3 {
    display: inline-block;
    color: text-color;
    cursor: pointer;

    @media only screen and (min-width: $small-break) {
      font-size: 1.875rem;
    }
  }

  summary:hover h3{
    color: $white;
  }

  p {
    width: 90%;
    margin: 1em auto 1.5em;
  }

  .code-links {
    width: 100%;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;

    a {
      padding: 0 1em;
    }
  }

  ul {
    margin-bottom: 0;
    padding: 0;

    li {
      margin-bottom: 0;
      display: inline-block;
    }
  }

}


.img-container {
  width: 100%;
}

#lumen-spot {
  background-color: $bg-proj-green;

  #lumen-spot-1 {
    max-width: 20em;
    width: 100%;
  }

  #lumen-spot-2 {
    display: none;

    @media only screen and (min-width: $medium-break) {
      display: inline-block;
      max-width: 13em;
      margin-right: -1em;
      margin-left: 1em;
      padding-top: 30px;
      padding-bottom: 70px;
    }
  }

  #lumen-spot-3 {
    display: none;

    @media only screen and (min-width: $medium-break) {
      display: inline-block;
      max-width: 13em;
      margin-left: -1em;
      padding-top: 30px;
      padding-bottom: 70px;
    }
  }

}

#aeropressme {
  background-color: $bg-proj-orange;

  #aeropressme-1 {
    min-width: 32em;
    overflow: hidden;
    width: 100%;
    margin: 0 -100%;

    @media only screen and (min-width: $small-break) {
      max-width: 40em;
    }

    @media only screen and (min-width: $medium-break) {
      max-width: 50em;
    }
  }
}

#elected-officials {
  background-color: $bg-proj-green;
  position: relative;

  #elected-officials-1 {
    max-width: 32em;
    width: 100%;

    @media only screen and (min-width: $small-break) {
      max-width: 35em;
    }

    @media only screen and (min-width: $medium-break) {
      max-width: 40em;
      position: relative;
    }
  }

  #elected-officials-2 {
    display: none;

    @media only screen and (min-width: $medium-break) {
      display: inline-block;
      position: relative;
      z-index: 10;
      max-width: 25em;
      top: -13em;
      left: 15em;
    }
  }
}
