#projects {
  text-align: center;
  background-image: url("../img/bg-proj.svg");
  background-size: cover;
  background-color: $bg-orange-transparent;
  padding-bottom: 3.5em;
  margin-top: $margin-before * 2.5;

  h2 {
    padding-top: 1em;
    margin-bottom: 1em;

    @media only screen and (min-width: $medium-break) {
      margin-bottom: $margin-after * 1.2;
    }
  }

  summary,
  summary h3 {
    display: inline-block;
    color: text-color;
    cursor: pointer;
  }

  summary:hover h3{
    color: $white;
  }

  .code-links {
    text-transform: uppercase;
  }

  ul {
    margin-bottom: 0;

    li {
      margin-bottom: 0;
      display: inline-block;
    }
  }

}


.img-container {
  width: 100%;
}

#lumen-spot {
  background-color: $bg-proj-green;

  #lumen-spot-1 {
    max-width: 40em;
    width: 100%;
  }

  #lumen-spot-2 {
    display: none;
  }

  #lumen-spot-3 {
    display: none;
  }

}

#aeropressme {
  background-color: $bg-proj-orange;

  #aeropressme-1 {
    max-width: 40em;
    width: 100%;
  }
}

#elected-officials {
  background-color: $bg-proj-green;

  #elected-officials-1 {
    max-width: 40em;
    width: 100%;
  }

  #elected-officials-2 {
    display: none;
  }
}
