#projects {
  text-align: center;
  background-image: url("../img/bg-proj.svg");
  // background-attachment: fixed;
  background-size: cover;
  background-color: $bg-orange-transparent;
  padding-bottom: 3.5em;
  margin-top: $margin-before * 2.3;

  h2 {
    padding-top: 1.2em;
    margin-top: $margin-before - 0.2em;
    margin-bottom: $margin-after;
  }

  .project-container {
    padding: 2em 1em 2em;
  }

  details {
    width: 90%;
    max-width: 40em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  details[open] summary ~ * {
    animation: fade 0.6s ease-in;
  }

  @keyframes fade {
    0% {opacity: 0}
    100% {opacity: 1}
  }

  summary {
    display: list-item;
    color: $text-color;
    cursor: pointer;
    transition: $transition;

    @media only screen and (min-width: $small-break) {
      font-size: 1.875rem;
    }
  }

  summary h3 {
    display: inline-block;
    color: $text-color;
    cursor: pointer;
    transition: $transition;

    @media only screen and (min-width: $small-break) {
      font-size: 1.875rem;
    }
  }

  summary:hover h3{
    color: $white;
  }

  @-moz-document url-prefix() {
    summary:hover {
      color: $white;
    }
  }

  p {
    width: 90%;
    margin: 1em auto 1.5em;
  }

  .code-links {
    width: 100%;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;

    a {
      padding: 0 1em;
    }
  }

  ul {
    margin-bottom: 0;
    padding: 0;

    li {
      margin-bottom: 0;
      display: inline-block;
    }
  }

}



.img-container {
  max-width: 100%;
}

#pivo-check {
  background-color: $bg-proj-orange;

  #pivo-check-1 {
    max-width: 28em;
    width: 100%;
    filter: drop-shadow(1px 2px 22px darken($bg-proj-orange, 30%));
    margin-top: 2em;
    margin-bottom: 2em;

    @media only screen and (min-width: $small-break) {
      max-width: 30em;
    }

    @media only screen and (min-width: $medium-break) {
      max-width: 36em;
    }
  }
}

#lumen-spot {
  background-color: $bg-proj-green;

  #lumen-spot-1 {
    max-width: 20em;
    width: 100%;
  }

  #lumen-spot-2 {
    display: none;

    @media only screen and (min-width: $medium-break) {
      display: inline-block;
      max-width: 13em;
      margin-right: -1em;
      margin-left: 1em;
      padding-top: 30px;
      padding-bottom: 70px;
      filter: drop-shadow(1px 2px 22px darken($bg-proj-green, 30%));
    }
  }

  #lumen-spot-3 {
    display: none;

    @media only screen and (min-width: $medium-break) {
      display: inline-block;
      max-width: 13em;
      margin-left: -1em;
      padding-top: 30px;
      padding-bottom: 70px;
      filter: drop-shadow(1px 2px 22px darken($bg-proj-green, 30%));
    }
  }

}

#aeropressme {
  background-color: $bg-proj-orange;

  #aeropressme-1 {
    max-width: 32em;
    width: 100%;
    // margin: 0 -100%;

    @media only screen and (min-width: $small-break) {
      max-width: 40em;
    }

    @media only screen and (min-width: $medium-break) {
      max-width: 50em;
    }
  }
}

#elected-officials {
  background-color: $bg-proj-green;
  position: relative;

  .img-container {
    max-width: 40em;
    max-height: 40em;
    width: 100%;
    margin: 0 auto;
  }

  #elected-officials-1 {
    max-width: 32em;
    width: 100%;

    @media only screen and (min-width: $small-break) {
      max-width: 35em;
    }

    @media only screen and (min-width: $medium-break) {
      max-width: 40em;
      position: relative;
    }
  }

  #elected-officials-2 {
    display: none;

    @media only screen and (min-width: $medium-break) {
      display: inline-block;
      position: relative;
      z-index: 10;
      max-width: 25em;
      top: -13em;
      left: 15em;
      filter: drop-shadow(1px 2px 22px darken($bg-proj-green, 30%));
    }
  }
}
